<!--<div class="continer-fluid">
   <app-company-dashboard></app-company-dashboard>
</div> -->

<form name="app-component" [formGroup]="appComponentForm">
   <nav class="navbar navbar-light bg-secondary">
      <div class="container-fluid"> 
         <img src ="assets/ems.ico" height="40" width="40" alt="E-Stock Market App Logo" loading ="lazy">
         <h1>E-Stock Market Application</h1>
         <div class="d-flex">
             
            <button class="btn btn-success" (click)= "registerCompany()">Register Company</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" (click)= "listAll()">List All Company</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <form  name="company-search-form" [formGroup]="companySearchForm" (ngSubmit)="search()">
              <input type="text" required=true formControlName="companyCode" /> &nbsp;
              <button type="submit" class="btn btn-success">Search</button>&nbsp;&nbsp;
            </form>
         </div>
      </div>
   </nav>
</form>

<router-outlet>

</router-outlet>

<br/>

<!-- <app-stock-details></app-stock-details> -->