<!-- <p>company-get-all works!</p> -->
<div align="center">
  <hr>
  <h4>All Company Details</h4>
  <hr>
  <table border="1" cellpadding="10" cellspacing=20>
       <thead>
           <tr>
               <th scope="col">Company Code</th>
               <th scope="col">Company Name</th>
               <th scope="col">Company CEO</th>
               <th scope="col">Company TurnOver</th>
               <th scope="col">Company Website</th>
               <th scope="col">Stock Exchange</th>
               <th scope="col">Latest Stock Price</th>
               <th scope="col">Delete Company</th>
           </tr>
       </thead>
       <tbody>
           <tr *ngFor="let companyDetails of companyDetailsList">
              <td>{{companyDetails.companyCode}}</td>
              <td>{{companyDetails.companyName}}</td>
              <td>{{companyDetails.companyCEO}}</td>
              <td>{{companyDetails.companyTurnOver}}</td>
              <td>{{companyDetails.companyWebsite}}</td>
              <td>{{companyDetails.stockExchange}}</td>
              <td>{{companyDetails.latestStockPrice}}</td>
              <td><button class="btn btn-danger" (click)="delete(companyDetails.companyCode)">Delete</button></td>
           </tr>
       </tbody>
  </table>

</div>
